<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="{{ url_for('requestResetPassword') }}" method="POST">
        {{ form.hidden_tag() }}

        <fieldset>
            <legend>Reset Password</legend>
            <div id="otp">
                <label for="otp"> {{ form.otp.label }}</label>
                {{ form.otp( id="otp", type="number")}}
            </div><br>

            <div id="newPwd">
                <label for="newPwd"> {{ form.newpwd.label }}</label>
                {{ form.newpwd( id="newPwd", type="number")}}
            </div><br>

            <div id="confirmpwd">
                <label for="confirmpwd"> {{ form.confirmpwd.label }}</label>
                {{ form.confirmpwd( id="confirmPwd", type="number")}}
            </div><br>

            <div id="submit">
                {{ form.submit() }}
            </div>
        </fieldset>
    </form>
</body>
</html>