<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentors</title>
  </head>
  <body>
    <h1>All Mentors</h1>
    <div>
      {% for mentor in mentors %} 
      Mentor Username : {{ mentor.username }} <br>
      Mentor Name : {{ mentor.fullname }} 
      Mentor Expertise : {{ mentor.expertise }}
      Mentor Email : {{ mentor.email }} 
      Mentor language_preference : {{ mentor.language_pref }}
      Mentor Availiability : {{ mentor.availability }}
      <div>
        <a href="{{ url_for('update_mentor' , id=mentor.id) }}">Update</a>
        <a href="{{ url_for('delete_mentor', id=mentor.id) }}">Delete</a>
      </div>
      {% endfor %}
    </div>

    <a href="{{ url_for('create_mentor') }}">Create Mentor</a>
  </body>
</html>
