<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All courses</title>
</head>
<body>
    <h1>All available Courses</h1>
    
    <div>
        <ul>
            {% for course in courses %}
               <li>Course Name: {{ course.name }}</li>
               <li>Course Description: {{ course.description }}</li>
               <li>Course Category: {{ course.category }}</li>
               <li>Course Language {{ course.language }}</li>
               <li>Course Level {{ course.level }}</li>
               <div>
                <a href="{{ url_for('view_course', id=course.id) }}">View Course</a>
               </div>

               <div>
                <a href="{{ url_for('update_course' , id=course.id) }}">Update</a> <a href="{{ url_for('delete_course', id=course.id) }}">Delete</a>
               </div>
               <hr>
            {% endfor %}
        </ul>

        
    </div>
    
    <a href="{{ url_for('create_course') }}">Create New Course</a>
</body>
</html>